<?php

return [
    // These are used to automatically validate the credentials on login.
    // If you have 2FA, this won't work.
    'username' => 'soyoustart_username',
    'password' => 'soyoustart_password',

    // To get these information, go to this page: https://eu.api.soyoustart.com/createApp/
    // Log in with your SoYouStart account, create an app,
    'application_key' => 'application_key',
    'application_secret' => 'application_secret',
];
